@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
.main {
	max-width: 400px;
	margin: 0 auto;
}

.loader-img {
	width: 150px;
	height: 150px;
    margin: 20px auto !important;
}

/* home section styles  */
@keyframes SettingsAnim {
	0% {
		transform: rotate(90deg);
	}
	30% {
		transform: rotate(180deg);
	}
	60% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.home {
	width: 100%;
}
.home-header {
    width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 15px 40px;
}
.home-header-icon {
	width: 40px;
	height: 40px;
	display: block;
	background: url(../Assets/img/icon.png) no-repeat;
	background-size: cover;
}

.home-header-settings {
	width: 40px;
	height: 40px;
	display: block;
	background: url(../Assets/img/settings.png) no-repeat;
	background-size: cover;
	animation: SettingsAnim infinite;
	animation-duration: 3s;
}

.home-error{
    width: 80%;
    text-align: center;
    margin-top: 50px;
}

.error-img{
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
    background:  url(./img/servererror.png) no-repeat;
    background-size: cover;
}
.card-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	margin-top: 30px;
}
.card {
	max-width: 450px;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(45, 45, 45, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.card >img, .card-img {
	display: block;
	width: 180px;
	height: auto;
	margin-top: -20px;
}
.card-title {
	font-weight: 700;
	font-size: 22px;
	color: #332821;
}
.gradus {
	display: flex;
}

.gradus > time {
	font-weight: 700;
	font-size: 64px;
	color: #332821;
	margin-top: -20px;
}
.gradus > span {
	font-weight: 500;
	font-size: 14px;
	color: #332821;
}
.card-info {
	padding: 6px 15px;
	background: rgba(106, 117, 186, 0.5);
	border-radius: 20px;
}
.card-more {
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	color: #ffffff;
	padding: 15px 30px;
	background: #5e4fc1;
	border-radius: 18px;
	margin-bottom: -22px;
}

.left {
	width: 50px;
	height: 50px;
	background: url(../Assets/img/left.png) no-repeat;
	background-size: cover;
	position: absolute;
	margin-left: -230px;
}
.right {
	width: 50px;
	height: 50px;
	background: url(../Assets/img/right.png) no-repeat;
	background-size: cover;
	position: absolute;
	margin-right: -230px;
}
.left:hover,
.right:hover {
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(45, 45, 45, 0.5);
}


.footer{
    width: 400px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(45, 45, 45, 0.5);
    background: white;
    border-radius: 10px;
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
}
.footer > a >svg{
    width: 40px;
    height: 40px;
    color: #c4c4c4cc;
}

.footer >a >svg:hover, .footer > .active >svg{
    color: #D86191;
}

/* search section styles  */


.empty-icon-container{
    margin:30px auto;
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;  
  }
  .animation-container{
    position:relative;
    display:block;
    text-align: center;
    height:100px;
    width:100px;
    border-bottom: solid 2px #333;
    overflow:hidden;
  }
  .bounce{
    display: inline-block;
    position:absolute;
    bottom:0;
    left:50%;
    width:40px;
    height:40px;
    margin-left: -20px;
    background: url(./img/searcherror.png) no-repeat;
    background-size: contain;
    animation: bounceAnim 1s cubic-bezier(.63,.09,.75,.46) infinite alternate,
              spinAnim 3s linear infinite;
  }
  
  @keyframes bounceAnim{
    0%, 10% { bottom: 50%; }
  
    100% { bottom: 0%; }
  }
  @keyframes spinAnim{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .pebble1{
    position:absolute;
    top:95%;
    background-color:#333;
    width:10px;
    height:10px;
    border-radius: 20px 20px 0px 0px;
    animation: pebblesAnim 1s linear infinite;
  }
  .pebble2{
    position:absolute;
    top:97%;
    background-color:#333;
    width:5px;
    height:5px;
    border-radius: 10px 10px 0px 0px;
    animation: pebblesAnim 2s linear infinite;
  }
  .pebble3{
    position:absolute;
    top:98%;
    background-color:#333;
    width:3px;
    height:3px;
    border-radius: 20px 20px 0px 0px;
    animation: pebblesAnim 3s linear infinite;
  }
  
  @keyframes pebblesAnim{
    0% { right: -20%; }
    100% { right: 110%; }
  }

  .empty-icon-container >div:nth-child(2) >p{
    font-family: 'Mulish', sans-serif;
  }

.search{
    width: 100%;
    margin: 0 auto;
}

.search-title{
    text-align: center;
    margin: 15px auto;
}

.form{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.form-input{
    width: 60%;
    padding: 7px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(45, 45, 45, 0.5);
    font-family: 'Mulish', sans-serif;
}

.form-btn{
    padding: 7px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(45, 45, 45, 0.5);
    font-family: 'Mulish', sans-serif;
}

.search > .card-wrapper{
    display: flex;
    flex-direction: column;
}

.bookmark-btn{
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../Assets/img/bookmark.png) no-repeat;
    background-size: cover;
    margin-top: 33px;
}

.bookmark-btn:active{
    transform: scale(1.3);
}

/* bookmark section styles  */
.bookmark{
    width: 100%;
    margin: 0 auto;
}
.bookmark-title{
    text-align: center;
    margin-top: 20px;
}

.back{
    display: block;
    margin: 5px auto;
    padding: 2px 10px ;
    border-radius: 0 5px 0 5px;
    border: none;
    cursor: pointer;
}

.bookmark-card{
    width: 100%;
    margin-top: 20px;
}
.bookmark-item{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.bookmark__title{
    display: block;
    width: 80%;
    padding: 15px 5px;
    background: #D86191;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

.bookmark-delete{
    width: 48px;
    height: 48px;
    background: url(../Assets/img/delete.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}


/* settings section styles  */
.settings-title{
    text-align: center;
    margin: 20px 0;
}

.settings-select{
    display: block;
    padding: 2px 10px;
    margin: 0 auto;
    border: 1px solid 0 0 5px rgba(45, 45, 45, 0.5);
    border-radius: 5px;
    outline: none;
}

.more{
    width: 100%;
    background: white;
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}

.more-date{
    position: absolute;
    margin-top: 20px;
}
.daily-card{
    width: 100%;
    list-style: none;
    margin-bottom: 100px;
}

.daily-card-item{
    box-shadow: 0 0 5px rgba(45, 45, 45, 0.5);
    margin: 15px;
    border-radius: 5px;
    padding: 10px 15px;
}

.daily-card-item >div{
    display: flex;
    justify-content: space-between;
}
.daily-card-item >div >img{
    width: 130px;
    height: 130px;
}
.weather-day{
    font-size: 22px;
    font-weight: 700;

}

.daily-card-item >span, .daily-card-item>time{
    display: block;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 17px;
}




.d-none{
    display: none;
}




@media only screen and (max-width: 450px){
    .card{
        width: 95%;
        margin: 0 auto;
    }
    .footer{
        width: 95%;
    }
    .bookmark-btn{
        margin-left: 2%;
    }
    .currently-card{
        width: 85%;
        margin: 50px 20px 60px auto ;
    }
}